@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.slider::-webkit-slider-track {
  background: #e5e7eb;
  height: 0.5rem;
  border-radius: 0.5rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #3b82f6;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-top: -0.5rem;
}
